.m-dialog_bottom {
    border-top:1px solid #e3e3e3;
}
.m-dialog{
    height:100%;background:rgba(0,0,0,0.4);position:fixed; top: 0px;left: 0px; right:0px;bottom:0px;z-index:9999
}
.m-dialog_content{
    background: white;border-radius:10px;text-align:center;width:65%;
    position: absolute;top:42%;left:0;right:0;margin:auto;
}
.m-dialog_middle{
    padding:20px;font-size:0.3rem;font-weight: bolder;
}

.u-cancle, .u-call {
    padding:13px;
    color:#427fb6;
    /*font-weight:bolder;*/
}
.u-call {
    border-left:1px solid #e3e3e3;
}